body
{
  background: linear-gradient(red, blue, yellow);
  background-repeat: no-repeat;
  height: 100vh;
}

form
{
  display: flex;
  flex-direction: column;
}

div
{
  display: flex;
  flex-direction: row-reverse;
}
